@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-links {
    list-style: none;
    padding-left: 0;
}

.nav-links .sub-menu {
    list-style: none;
}

.profile .profile_email::-webkit-scrollbar {
    -webkit-appearance: none;
}

.profile .profile_email {
    margin: -50px 60px 35px 70px;
    font-size: 13px;
    overflow-x: auto;
    width: 150px;
    text-overflow: ellipsis;
}

.nav-links li {
    padding: 10px 0px;
}

.side-navigation .nav-links li:hover {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0);
    background: #1d1b31;
}

.nav-links li a:hover {
    color: #0073ff;
    transition: 0.2s;
    font-weight: bold;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 14px;
    align-items: center;
    font-size: 13px;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.nav-links .sub-menu {
    padding: 0px 6px 0px 10px;
    margin: 0px 35px 0px 45px;
    display: none;
}

.nav-links li.showSubMenu i.arrow {
    transform: rotate(-180deg);
    margin-bottom: 16px;
}

.nav-links li.showSubMenu .sub-menu {
    display: block;
}

.nav-links .showSubMenu {
    margin-bottom: -10px;
}

.nav-links .sub-menu a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 0px 0px;
    white-space: nowrap;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.nav-links .sub-menu li {
    padding: 0px;
}


.iconLink .arrow {
    margin: 15px 0px 0px 3px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}


.customerAccContent .nav-links li:nth-child(3) .purchase {
    margin-left: 5px;
}

.customerAccContent .nav-links li:nth-child(3) {
    margin-bottom: 5px;
}

.customerAccContent .nav-links li:nth-child(2) .arrow {
    margin-left: 8px;
}

.customerAccContent .nav-links li:nth-child(2) .account {
    margin-left: 4px;
}

.all {
    background-color: #f7f7f7;
}

.customerAccBar {
    background-color: #636363;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 70px;
    background-image: url("../image/Dessert/tang-yuan.png");
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.customerAcc {
    font-weight: 600;
    color: #e6e6e6;
    font-size: 40px;
    margin-left: 100px;
    right: 0;
    left: 0;
    margin-top: -70px;
    position: absolute;
    text-align: center;
}

h2 {
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
}

.customerAccContent {
    margin: 0%;
    padding: 60px 0px 150px 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: #f7f7f7;
    display: flex;
}

.customerAccContent .sideNavigation {
    flex-basis: 40%;
}

.customerAccContent .profile img {
    height: 52px;
    width: 52px;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.customerAccContent .profile {
    margin-right: 0;
    border-bottom: 1px solid #999;
}

.customerAccContent .profile .profile_name {
    margin: -53px 60px 50px 70px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 515;
    white-space: nowrap;
}

.customerAccContent .profile .profile_email {
    margin: -50px 60px 35px 70px;
    font-size: 13px;
}

.addAddressContent {
    flex-basis: 80%;
    border: 1px solid white;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 50px;
    padding-right: 50px;
    width: 70%;
    padding-bottom: 130px;
    margin-left: 40px;
    background-color: white;
}

.addAddressTitle {
    font-weight: 500;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.profileTitle {
    font-weight: 400;
}


.addAddress {
    width: 22%;
    height: 40px;
    color: white;
    background-color: rgb(255, 86, 86);
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    margin-top: -62px;
}

.hr1 {
    width: 100%;
    height: 0;
    background: #f7f7f7;
}

.userInfo {
    font-size: 14px;
}

.userAddress {
    margin-left: 25px;
}

.name {
    margin-top: 25px;
    margin-bottom: 10px;
}
.userInfo div{
    display: flex;
}
.userInfo div label
{
    color: #636363;
    flex-basis: 20%;
    font-size: 14px;
}
.userInfo .errBox label{
    flex-basis: 30%;
}
.userInfo div input,.userInfo div select{
    border-radius: unset;
    margin-left: 82px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
    flex-basis:50%;
}
.userInfo div:last-child{
    justify-content: right;
}
/* .addAddressContent {
    margin-left: 20px;
}

.addAddressContent .fullNameLabel {
    color: #636363;
    font-size: 14px;
}

.addAddressContent .fullNameInput {
    border-radius: unset;
    margin-left: 82px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
}

.addAddressContent .phoneNumberLabel {
    color: #636363;
    font-size: 14px;
}

.addAddressContent .phoneNumberInput {
    border-radius: unset;
    margin-left: 47px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
}

.addAddressContent .streetAddressLabel {
    color: #636363;
    font-size: 14px;
}

.addAddressContent .streetAddressInput {
    border-radius: unset;
    margin-left: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
}

.addAddressContent .stateLabel {
    color: #636363;
    font-size: 14px;
    margin-right: 10px;
}

.addAddressContent .stateInput {
    border-radius: unset;
    margin-left: 105px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
}

.addAddressContent .townLabel {
    color: #636363;
    font-size: 14px;
    margin-right: 10px;
}

.addAddressContent .townInput {
    border-radius: unset;
    margin-left: 105px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
}

.addAddressContent .postalCodeLabel {
    color: #636363;
    font-size: 14px;
    margin-right: 10px;
}

.addAddressContent .postalCodeInput {
    border-radius: unset;
    margin-left: 75px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 40%;
}

.addAddressContent .stateInput {
    border-radius: unset;
    margin-left: 104px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 41%;
    text-align: center;
} */

.submitaddAddress {
    margin-top: 35px;
    border: 1px solid rgb(170, 183, 197);
    border-radius: 5px;
    background-color: #f17163;
    width: 10%;
    height: 30px;
    padding-top: 3px;
    float: right;
    color: white;
}

.userAddress .userInfo table {
    margin: 0px;
    width: 100%;
}

.error {
    flex-basis: 50%;
    font-size: 13px;
}