@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-links{
    list-style:none;
 
    padding-left:0;
}

.nav-links .sub-menu{
    list-style:none;
}

.nav-links li{
    padding:10px 0px;
}
.side-navigation .nav-links li:hover{
    border-radius:20px;
    box-shadow:0 5px 10px rgba(255,255,255,0);
    background: #1d1b31;
}

.nav-links li a:hover{
    color:#0073ff;
    transition:0.2s;
    font-weight:bold;
}
.nav-links li a{
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:10px 14px;
    align-items:center;
}

.nav-links li a i{
    font-size:22px;
    margin-right:20px;
    
}

.nav-links .sub-menu{
    padding: 0px 6px 0px 10px;
    margin:0px 35px 0px 45px;
    display:none;
   
}

.nav-links li.showSubMenu i.arrow{
    transform: rotate(-180deg);
    margin-bottom:16px;
}
.nav-links li.showSubMenu .sub-menu  {
    display: block;
  
    
}
.nav-links .showSubMenu{
    margin-bottom:-10px;
}

.nav-links .sub-menu a{
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 0px 0px;
    white-space: nowrap;
    opacity: 0.8;
    transition: all 0.3s ease;
    
 }
 .nav-links .sub-menu li{
     padding:0px;
 }


.iconLink .arrow{
    margin:15px 0px 0px 3px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor:pointer;
 }
 
 
.customerAccContent .nav-links li:nth-child(3) .purchase{
   margin-left:5px;

 }
 .customerAccContent .nav-links li:nth-child(2) .arrow{
    margin-left:8px;
 
  }

 .customerAccContent .nav-links li:nth-child(2) .account{
    margin-left: 4px;
 
  }

.all{
    background-color: #f7f7f7;
    height: 150%;
}

.checkoutBar{
    background-color: #636363;
    margin-top:0;
    padding-top:20px;
    padding-bottom:70px;
    background-image:url("../image/Dessert/tang-yuan.png");
    filter:blur(1px);
    -webkit-filter:blur(1px);
}

.checkout{
    font-weight: 600;
    color: #e6e6e6;
    font-size:40px;
    margin-left:100px;
    right:0;
    left:0;
    margin-top:-70px;
    position:absolute;
    text-align: center;
}

.newAddressContent{
    flex-basis: 80%;
    border:1px solid white;
    box-shadow: 5px 10px 18px #888888;
    margin-right:150px;
    padding-right:100px;
    width:40%;
    padding-bottom:170px;
    margin-left:120px;
    margin-top:90px;
}

.title{
    font-weight: 500;
    font-size:28px;
    margin-left:20px;
    margin-top:25px;
    margin-bottom:30px;
}

.newAddressForm{
    margin-left:20px;
}

.newAddressForm label[for="userNameLabel"]{
    color:black;
    font-size: 17px;
}

.newAddressForm input[name="userNameInput"]{
    margin-left:80px;
    padding-top:7px;
    padding-bottom:7px;
    border:0.5px solid rgb(197, 197, 197); 
    width:60%;
    height: 25px;
}

.newAddressForm label[for="streetAddressLabel"]{
    color:black;
    font-size: 17px;
}

.newAddressForm input[name="streetAddressInput"]{
    margin-left:47px;
    padding-top:7px;
    padding-bottom:7px;
    border:0.5px solid rgb(197, 197, 197); 
    width:60%;
    height: 25px;
}

.newAddressForm label[for="stateLabel"]{
    color:black;
    font-size: 17px;
    margin-right:10px;
}

.newAddressForm input[name="stateInput"]{
    margin-left:105px;
    padding-top:7px;
    padding-bottom:7px;
    border:0.5px solid rgb(197, 197, 197); 
    width:60%;
    height:25px;
}

.newAddressForm label[for="townLabel"]{
    color:black;
    font-size: 17px;
    margin-right:10px;
}

.newAddressForm label[for="postalCodeLabel"]{
    color:black;
    font-size: 17px;
    margin-right:10px;
}

.newAddressForm input[name="postalCodeInput"]{
    margin-left:73px;
    padding-top:7px;
    padding-bottom:7px;
    border:0.5px solid rgb(197, 197, 197); 
    width:60%;
    height:25px;

}

.newAddressForm select[name="townInput"]{
    margin-left:104px;
    padding-top:7px;
    padding-bottom:7px;
    border:0.5px solid rgb(197, 197, 197); 
    width:61%;
    height:40px;
    text-align:center;
}

.yourOrderTitle{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    font-weight: 700;
    text-align: center;
}

/*product*/
.containerBorder{
    margin:0%;
}

.container{
    margin-left:880px;
    margin-right:300px;
    margin-top:-545px;
    margin-bottom:200px;
    padding-top: 20px;
    padding-bottom: 100px;
    padding-left:25px;
    padding-right:25px;
    border:1px solid #dadada;
    background-color:rgb(240, 240, 240);
    width:30%;
}

.checkoutContent{
    border:1px solid white;
}



.tableContent,.totalPriceTable{
     border:1px solid white;
    background-color:white;
}

.tableContent{
    width:100%;
    border-collapse:collapse;
    padding-left:100px;
}

.productName, .productSubTotal{
   color:black;
   font-weight: 550;
}

.item{
    color:#7a7a7a;
    font-family: 'Roboto', sans-serif;
}

.subtotalName, .subtotalPrice{
    color:black;
}

th.productSubTotal{
    padding-right:20px;
}

thead{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    text-align: center;
    height:50px; 
}

tbody td{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:20px;
}


thead .tableHeader{
    border-bottom: 1px solid #c0c0c0;
}

tbody tr{
    border-bottom: 0.7px solid #c0c0c0;
}


.totalPrice{
    font-size:30px;
    color:#ff5959;
}

.productInfo{
    display:flex;
    flex-wrap:wrap;
}

th{
    text-align: left;
    padding:10px; 
    color:black;
    font-weight: normal;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.paymentMethod{
    margin-top:20px;
}

.placeOrder{
    margin-left:20px;
    margin-top:10px;
    width:25%;
    height: 30px;
    border-radius:5px;
    background-color: #b0c4d6;
    font-size:14px;
    font-weight: 500;
    float:right;
}

.directBankInBlock{
    border:1px solid #b3b3b3;
    border-radius: 5px;
    display: none;
}

.paymentMethod-directBankIn{
    margin-top:20px;
}

img.publicBankLogo{
    margin-left:60px;
    margin-top:2px;
}

.publicBankLabelInput{
    vertical-align: top;
    align-items: center;
    display: flex;
}

img.mayBankLogo{
    margin-left:80px;
}

.maybankLabelInput{
    margin-top:10px;
    vertical-align: top;
    align-items: center;
    display: flex;
}

img.hongLeongBankLogo{
    margin-left:22px;
}

.hongLeongBankLabelInput{
    margin-top:10px;
    margin-bottom:3px;
    vertical-align: top;
    align-items: center;
    display: flex;
}

.paymentMethod-paypal{
    margin-top:20px;
}

img.paypalLogo{
    margin-left:26px;
}

.paypalBlock{
    border:1px solid #b3b3b3;
    border-radius: 5px;
    display: none;
}

.paymentMethod-payOnDelivery{
    margin-top:20px;
}
