@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-links {
    list-style: none;
    padding-left: 0;
}

.genderLabelInput {
    display: flex;
}

    .genderLabelInput #RadioButtonList1 {
        display: flex;
    }

.auto-style1 {
    margin-left: 28px;
}

.nav-links .sub-menu {
    list-style: none;
}


.nav-links li {
    padding: 10px 0px;
}

.side-navigation .nav-links li:hover {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(255,255,255,0);
    background: #1d1b31;
}

.nav-links li a:hover {
    color: #0073ff;
    transition: 0.2s;
    font-weight: bold;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 14px;
    align-items: center;
}

    .nav-links li a i {
        font-size: 22px;
        margin-right: 20px;
    }

.nav-links .sub-menu {
    padding: 0px 6px 0px 10px;
    margin: 0px 35px 0px 45px;
    display: none;
}

.nav-links li.showSubMenu i.arrow {
    transform: rotate(-180deg);
    margin-bottom: 16px;
}

.nav-links li.showSubMenu .sub-menu {
    display: block;
}

.nav-links .showSubMenu {
    margin-bottom: -10px;
}

.nav-links .sub-menu a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 0px 0px;
    white-space: nowrap;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.nav-links .sub-menu li {
    padding: 0px;
}


.iconLink .arrow {
    margin: 15px 0px 0px 3px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}


.customerAccContent .nav-links li:nth-child(3) .purchase {
    margin-left: 5px;
}

.customerAccContent .nav-links li:nth-child(3) {
    margin-bottom: 5px;
}

.customerAccContent .nav-links li:nth-child(2) .arrow {
    margin-left: 8px;
}

.customerAccContent .nav-links li:nth-child(2) .account {
    margin-left: 4px;
}

.all {
    background-color: #f7f7f7;
}

.customerAccBar {
    background-color: #636363;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 70px;
    background-image: url("../image/Dessert/tang-yuan.png");
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.customerAcc {
    font-weight: 600;
    color: #e6e6e6;
    font-size: 40px;
    margin-left: 100px;
    right: 0;
    left: 0;
    margin-top: -70px;
    position: absolute;
    text-align: center;
}

h2 {
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
}

.customerAccContent {
    margin: 0%;
    padding: 60px 0px 150px 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: #f7f7f7;
    display: flex;
}

    .customerAccContent .sideNavigation {
        flex-basis: 20%;
    }

    .customerAccContent .profile img {
        height: 52px;
        width: 52px;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: #1d1b31;
        transition: all 0.5s ease;
    }

    .customerAccContent .profile {
        margin-right: 0;
        border-bottom: 1px solid #999;
    }

        .customerAccContent .profile .profile_name {
            margin: -53px 60px 50px 70px;
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 515;
            white-space: nowrap;
        }

        .customerAccContent .profile .profile_email {
            margin: -50px 60px 35px 70px;
            font-size: 13px;
        }

.accountContent {
    flex-basis: 80%;
    border: 1px solid white;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 50px;
    padding: 10px 50px 100px 50px;
    width: 70%;
    margin-left: 40px;
    background-color: white;
}

.profileTitle {
    font-weight: 520;
}

.subTitle {
    font-weight: 300;
    font-size: 14px;
    margin-top: -17px;
}



.usernameInput {
    margin-top: -20px;
    margin-left: 100px;
}

.text {
    margin-top: 30px;
}

a {
    font-size: 13px;
}

.usernameLabelInput .usernameLabel {
    color: #636363;
    font-size: 14px;
}

.usernameLabelInput .username {
    margin-left: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 60%;
}

.usernameInstruct {
    font-size: 13px;
    color: #a09f9f;
    margin-left: 127px;
}

.nameLabelInput .nameLabel {
    color: #636363;
    font-size: 14px;
}

.nameLabelInput .name {
    margin-left: 82px;
    margin-top: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 60%;
}

.emailLabelInput .emailLabel {
    color: #636363;
    font-size: 14px;
}

.emailLabelInput .email {
    margin-left: 87px;
    padding-top: 7px;
    margin-top: 0px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 60%;
}

.phoneNumberLabelInput .phoneNumberLabel {
    color: #636363;
    font-size: 14px;
}

.phoneNumberLabelInput .phoneNumber {
    margin-left: 17px;
    padding-top: 7px;
    margin-top: 0px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 60%;
}

.shopNameLabelInput .shopNameLabel {
    color: #636363;
    font-size: 14px;
}

.shopNameLabelInput .shopName {
    margin-left: 39px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 0.5px solid rgb(197, 197, 197);
    width: 60%;
}

.genderLabelInput .genderLabel {
    color: #636363;
    font-size: 14px;
    margin-right: 40px;
}


.genderLabelInput .gender {
    margin-left: 80px;
    margin-top: 0px;
}




.dateLabelInput {
    display: flex;
}

.dateLabelInput {
    margin-top: 20px;
}

    .dateLabelInput .birthLabel {
        color: #636363;
        flex-basis: 23%;
        font-size: 14px;
    }

    .dateLabelInput .birthInput {
        margin-left: 182px;
        margin-top: 0px;
        padding-top: 7px;
        padding-bottom: 7px;
        flex-basis: 77%;
        border: 0.5px solid rgb(197, 197, 197);
        width: 60%;
    }


.selectImage {
    margin: 0px;
    border-left: 1px solid grey;
    padding-left: 30px;
    height: 300px;
}

.submitButton {
    margin-left: 15px;
    margin-bottom: 10px;
}

.fileSize {
    color: #636363;
    font-size: 14px;
    margin-left: 15px;
}

.fileExtension {
    color: #636363;
    font-size: 14px;
    margin-left: 15px;
}

.saveButton {
    position: relative;
    left: 250px;
    display: flex;
    justify-content: right;
    justify-items: right;
}

    .saveButton .save {
        padding: 10px 40px;
        color: white;
        background-color: rgb(255, 86, 86);
        border: 1px solid white;
        border-radius: 5px;
    }

.userProfile {
    display: flex;
}

    .userProfile .text {
        flex-basis: 75%;
    }

    .userProfile .selectImage {
        flex-basis: 25%;
    }
    .dateLabelInput {
        margin-top: 20px;
    }

    .dateLabelInput .birthLabel {
        color: #636363;
        flex-basis: 25%;
        font-size: 14px;
    }

    .dateLabelInput .birthInput {
        margin: 0px;
        padding-top: 7px;
        padding-bottom: 7px;
        flex-basis: 60%;
        border: 0.5px solid rgb(197, 197, 197);
        width: 60%;
    }

    .phoneNumberLabelInput {
        display: flex;
    }

    .phoneNumberLabelInput .phoneNumberLabel {
        color: #636363;
        font-size: 14px;
        flex-basis: 25%;
    }

    .phoneNumberLabelInput .phoneNumber {
        margin-left: 17px;
        padding-top: 7px;
        margin: 0px;
        flex-basis: 60%;
        padding-bottom: 7px;
        border: 0.5px solid rgb(197, 197, 197);
        width: 60%;
    }

    .genderLabelInput .genderLabel {
        color: #636363;
        font-size: 14px;
        margin-right: 60px;
    }

    .genderLabelInput .gender {
        margin-left: 150px;
        margin-top: 0px;
    }

    .sideNavigation {
        margin-right: 40px;
        flex-basis: 40%;
    }

    .accountContent {
        flex-basis: 100%;
        margin-left: 0px;
    }

    .profile_email {
        word-break: keep-all;
        word-wrap: normal;
        overflow-x: auto;
        overflow-y: no-display;
        text-overflow: ellipsis;
        margin: 0px;
        word-break: keep-all;
        width: 200px;
    }

    .error {
        font-size: 13px;
        margin-left: 145px;
    }

    .userProfile .text {
        margin: 0px;
    }

    .accountTitle .profileTitle {
        margin-top: 0px;
    }

    .userProfile .selectImage {
        padding-top: 20px;
    }