@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-links {
    list-style: none;
    padding-left: 0;
}

    .nav-links .sub-menu {
        list-style: none;
    }


    .nav-links li {
        padding: 10px 0px;
    }

.side-navigation .nav-links li:hover {
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(255,255,255,0);
    background: #1d1b31;
}

.nav-links li a:hover {
    color: #0073ff;
    transition: 0.2s;
    font-weight: bold;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 14px;
    align-items: center;
    font-size: 13px;
}

    .nav-links li a i {
        font-size: 22px;
        margin-right: 20px;
    }

.nav-links .sub-menu {
    padding: 0px 6px 0px 10px;
    margin: 0px 35px 0px 45px;
    display: none;
}

.nav-links li.showSubMenu i.arrow {
    transform: rotate(-180deg);
    margin-bottom: 16px;
}

.nav-links li.showSubMenu .sub-menu {
    display: block;
}

.nav-links .showSubMenu {
    margin-bottom: -10px;
}

.nav-links .sub-menu a {
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 0px 0px;
    white-space: nowrap;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.nav-links .sub-menu li {
    padding: 0px;
}


.iconLink .arrow {
    margin: 15px 0px 0px 3px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}


.customerAccContent .nav-links li:nth-child(3) .purchase {
    margin-left: 5px;
}

.customerAccContent .nav-links li:nth-child(3) {
    margin-bottom: 5px;
}

.customerAccContent .nav-links li:nth-child(2) .arrow {
    margin-left: 8px;
}

.customerAccContent .nav-links li:nth-child(2) .account {
    margin-left: 4px;
}

.all {
    background-color: #f7f7f7;
}

.customerAccBar {
    background-color: #636363;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 70px;
    background-image: url("../image/Dessert/tang-yuan.png");
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.customerAcc {
    font-weight: 600;
    color: #e6e6e6;
    font-size: 40px;
    margin-left: 100px;
    right: 0;
    left: 0;
    margin-top: -70px;
    position: absolute;
    text-align: center;
}

h2 {
    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
}

.customerAccContent {
    margin: 0%;
    padding: 60px 0px 150px 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: #f7f7f7;
    display: flex;
}

    .customerAccContent .sideNavigation {
        flex-basis: 40%;
    }

    .customerAccContent .profile img {
        height: 52px;
        width: 52px;
        border-radius: 16px;
        margin: 0 14px 0 12px;
        background: #1d1b31;
        transition: all 0.5s ease;
    }

    .customerAccContent .profile {
        margin-right: 0;
        border-bottom: 1px solid #999;
    }

        .customerAccContent .profile .profile_name {
            margin: -53px 60px 50px 70px;
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 515;
            white-space: nowrap;
        }

        .customerAccContent .profile .profile_email {
            margin: -50px 60px 35px 70px;
            font-size: 13px;
        }

.addressContent {
    flex-basis: 80%;
    border: 1px solid white;
    box-shadow: 5px 10px 18px #888888;
    margin-right: 50px;
    padding-right: 50px;
    width: 70%;
    padding-bottom: 130px;
    margin-left: 40px;
    background-color: white;
}

.profileTitle {
    font-weight: 500;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.addAddress {
    width: 22%;
    height: 40px;
    color: white;
    background-color: rgb(255, 86, 86);
    border: 1px solid white;
    border-radius: 5px;
    float: right;
    margin-top: -62px;
}

.hr1 {
    width: 95%;
    height: 0;
    background: #f7f7f7;
}

.userInfo {
    font-size: 14px;
}

.userAddress {
    margin-left: 25px;
}

.name {
    margin-top: 25px;
    margin-bottom: 10px;
}

.userInfo label[for="nameLabel"] {
    color: #636363;
    font-size: 14px;
    margin-right: 10px;
}

.phone {
    margin-bottom: 10px;
}

.userInfo label[for="phoneLabel"] {
    color: #636363;
    font-size: 14px;
    margin-right: 35px;
}

.address {
    margin-bottom: 20px;
    padding-right: 240px;
}

.addressBorder {
    margin-left: 82px;
    margin-top: -20px;
}

.userInfo label[for="addressLabel"] {
    color: #636363;
    font-size: 14px;
    margin-right: 21px;
}

.hr2 {
    width: 99%;
    margin-left: -10px;
}

.buttonType {
    float: right;
    margin-top: -120px;
    padding-right: 50px;
}

.editLink {
    margin-left: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #95adbe;
    width: 50%;
    height: 25px;
    padding-top: 3px;
    text-align: center;
}

    .editLink a {
        text-decoration: none;
        color: white;
    }

.deleteLink {
    margin-left: 70px;
    margin-top: -30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f17163;
    width: 50%;
    height: 26px;
    text-align: center;
    padding-top: 3px;
}

    .deleteLink a {
        text-decoration: none;
        color: white;
    }

.setAsDefault {
    border: 1px solid #d4d4d4;
    background-color: white;
    width: 120%;
    height: 40px;
}

.address2 {
    padding-right: 240px;
}

.address2Content {
    margin-left: 82px;
    margin-top: -20px;
}

.buttonType2 {
    float: right;
    margin-top: -105px;
    padding-right: 50px;
    margin-left: 200px;
}

.editLink2 {
    margin-left: 2px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #95adbe;
    width: 50%;
    height: 25px;
    padding-top: 3px;
    text-align: center;
}

    .editLink2 a {
        text-decoration: none;
        color: white;
    }

.deleteLink2 {
    margin-left: 70px;
    margin-top: -30px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f17163;
    width: 50%;
    height: 26px;
    text-align: center;
    padding-top: 3px;
}

    .deleteLink2 a {
        text-decoration: none;
        color: white;
    }

.setAsDefault2 {
    border: 1px solid #d4d4d4;
    background-color: white;
    width: 120%;
    height: 40px;
}


.setAsDefault {
    border: 1px solid #d4d4d4;
    background-color: white;
    width: 120%;
    height: 40px;
    text-decoration: none;
}

.currentUsedAddress {
    border: 1px solid #d4d4d4;
    background-color: white;
    color: red;
    width: 120%;
    height: 40px;
}

.customerAccContent .sideNavigation {
    flex-basis: 30%;
}

.addAddress{
    width:22%;
    height:40px;
    color:white;
    background-color: rgb(255, 86, 86);
    border:1px solid white;
    border-radius:5px;
    float:right;
    margin-top:-62px;
}

.addAddress a{
    text-decoration: none;
    color:white;
    font-size: 15px;
    
}

.addAddressFont{
    text-align: center;
    padding-top:5px;
}