.nav-item{
    text-align: center;
}
.next button{
    padding: 0.47rem 0.75rem;
    background-color: #5664d2;
    border-radius:0.25rem ;
    border: none;
    color: white;
}
td .text-danger{
    background: none;
    border: none;
}
table .thead-light{
    background-color: rgb(238, 233, 233);
}
.table-responsive{
    max-height: 400px;
    overflow-y: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.table-responsive::-webkit-scrollbar{
    width: 0%;
}
.mb-3 .dropzone{
    min-height: 10px;
}
.Flex{
    display: flex;
}
.Flex a{
    flex-basis: 10%;
}
.Flex .searchBox{
    padding: 2px 0px;
    display: flex;
    flex-basis: 90%;
    justify-content: flex-end;
}
.Flex .searchBox input{
    outline: 1px solid grey;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}
.Flex li{
    margin: 0%;
    flex-basis: 10%;
}
.Flex .SearchBox{
    flex-basis: 70%;
    display: flex;
    justify-content: right;
    padding: 10px 0px;
}
.Flex .SearchBox input{
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none;
}
td .link{
    color: black;
    font-weight: bolder;
}
td .link:hover{
    color: rgb(0, 17, 252);
    
}
.Flex .content{
    margin-top: 0%;
    flex-basis: 20%;
    display: flex;
    align-items: center;
    
}
.Flex .SearchBox2{
    flex-basis: 60%;
}
td .order_qty{
    padding: 5px 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(167, 163, 163);
    text-align: center;
}
