.previous {
    position:relative;
    margin-right:10px;
   

  }
  .card-header {
    display: flex;
  }
  .card-header .AddMealButtton a{
    background-color: rgb(0, 102, 255);
    border-color: rgb(0, 119, 255);
    padding: 2px 15px;
    color: white;
    border-radius: 0.25rem;
  }
  .card-header .mb-0{
    flex-basis: 50%;
  }
  .card-header .AddMealButtton{
    flex-basis: 50%;
  }
  .card-body .PriceRange{
    color: blue;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: flex;
  }
  .card-body .PriceRange input{
    border-radius: 5px;
    outline: none;
    border: gray 1px solid;
    font-size: 15px;
    height: 35px;
    width: 120px;
    padding: 5px;
  }
.product-box{
 
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.product-box .product-img{
  min-height: 250px;
  min-width: 100%;
}
.mealListOverflow{
  overflow-y: scroll;
  height: 100vh;
}
.mealListOverflow::-webkit-scrollbar{
  width: 0px;
}
.card-body .flexBox{
 
  display: flex;
  margin-bottom: 10px;
}
.card-body .flexBox h5{
  flex-basis: 50%;
  margin: 0%;
  font-size: 14px;
  display: flex;
  align-items: center;

  
}
.card-body .flexBox .clearfilterBtn{
  color: white;
  padding: 5px;
  background-color: rgb(237, 99, 99);
  border-radius: 5px;
  font-size: 14px;
  border: none;
  flex-basis: 50%;
}
.card-body .flexBox .pricFilterBtn{
  flex-basis: 50%;
  font-size: 14px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(122, 177, 122);

}
