@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.all {
    background-color: #f7f7f7;
    padding-bottom: 190px;
}

.customerDashboardBar {
    background-color: #636363;
    margin-top: 120px;
    padding-top: 20px;
    padding-bottom: 70px;
    background-image: url("../img/tang-yuan.png");
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.customerDashboard {
    font-weight: 600;
    color: #e6e6e6;
    font-size: 40px;
    margin-left: 100px;
    right: 0;
    left: 0;
    margin-top: -70px;
    position: absolute;
    text-align: center;
}

h2 {

    color: black;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 400;
}

.customerDashboardHeaderContent {
    margin: 0%;
    padding: 60px 0px 150px 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    background-color: #f7f7f7;
    display: flex;
}

.customerDashboardHeaderContent .sideNavigation {
    flex-basis: 40%;
}

.customerDashboardHeaderContent .profile img {
    height: 52px;
    width: 52px;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.customerDashboardHeaderContent .profile {
    margin-right: 30px;
    border-bottom: 1px solid #999;
}


.customerDashboardHeaderContent .profile {
    margin-right: 30px;
    border-bottom: 1px solid #999;
}

.customerDashboardHeaderContent .profile .profile_name {
    margin: -53px 60px 50px 70px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 515;
    white-space: nowrap;
}

.customerDashboardHeaderContent .profile .profile_email {
    margin: -50px 60px 35px 70px;
    font-size: 13px;
}


.side-bar-margin {
    flex-basis: 25%;
    margin-left: 45px;
}

.dashboardContent {
    flex-basis: 70%;
    border: 1px solid white;

    padding-right: 50px;
    padding-bottom: 70px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 5px 10px 18px #888888;
    width: 60%;
    background-color: white;
    padding-left: 20px;
    border-radius: 20px;


}

.profileTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;

}

.subTitle {
    font-weight: 300;
    font-size: 14px;


}


a {
    font-size: 13px;
    text-decoration: none;
}

.dashboard-block {
    border: 2px solid rgb(197, 197, 197);
    margin: 45px 10px 30px 20px;
    text-align: center;

    width: 30%;
    height: 100%;
    float: left;

}

.dashboard-block:hover {
    background-color: #f0eeee
}

.dashboard-block:hover i {
    color: rgb(0, 0, 0);
}

.dashboard-block-list {
    display: inline-block;

    width: 100%;
    height: 28%;
}

.dashboard-block i {
    font-size: 45px;
    margin-top: 15px;
    color: rgb(216, 216, 216);
}

.dashboard-block p {
    font-family: 'Poppins', sans-serif;
    color: rgb(66, 63, 63);
    margin-top: 12px;
    font-size: 14px;
}





.custom-auth-gap {
    margin-top: 60px;
    margin-bottom: 0;
}

.subTitle {
    padding-bottom: 4px;
    border-bottom: 1px solid #999;
}

.dropdown.toggleicon {
    display: none;
}

@media all and (max-width: 1200px) {
    .dashboardContent {

        flex-basis: 100%;
        padding-bottom: 250px;
    }

    .customerDashboard {
        margin-left: 0px;
    }

    .dashboard-block {
        width: 39%;
    }

    .all {
        padding-bottom: 100px;
    }
    .dropdown.toggleicon {
        display: block;
    }
    

}