.scollBoxReservation{
    margin: 0px auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}
html{background-color: white;}
.fpmbg{
    margin: auto;
    float: left;
    margin-top: 70px;
    margin-left: 240px;
    background-image: url(../img/FPMbg.png);
    width:850px;
    height:600px;
    /* width:150%;
    height: 90vh; */
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}
form{
    background-color: white;
}
.fpmbg .table8:hover,.fpmbg .table4:hover,.fpmbg .table12:hover,.fpmbg .table2:hover{
    
    cursor: pointer;
}
/* .fpmbg:hover{
    transform: scale(1.5);
} */
.fpmbg .table8{
    
    background-image: url(../img/table8.png);
    width: 130px;
    height:130px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}
.fpmbg .reservedTable8{
    
    background-image: url(../img/table8Reserved.png);
    width: 130px;
    height:130px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}

.fpmbg .tableBox{
    float: left;
    position: relative;
}
.fpmbg .table8Box{
    top: 26%;
    left: 8%;
}
.fpmbg .table8a{
    /* border-radius: 100px;
    border: 10px dotted red; */
    margin-bottom: 22%;
    
}
.fpmbg .table8 .selectedBorder,.fpmbg .table4 .selectedBorder,.fpmbg .table12 .selectedBorder,.fpmbg .table2 .selectedBorder  {
    background:url(../img/selectedBorder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    position: relative;
  
    right: 0px;
    animation: circle 5s infinite linear;
    display:none;
}
.fpmbg .table8 .reselectBorder,.fpmbg .table4 .reselectBorder,.fpmbg .table12 .reselectBorder,.fpmbg .table2 .reselectBorder  {
    background:url(../img/reselectBorder.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    position: relative;
    bottom: 1px;
    right: 0px;
    animation: circle 5s infinite linear;
    display:block;
}
.bottom1{
    bottom: 1px;
}
.bottom130{
    bottom: 130px;
}
.fpmbg .table8:hover .selectedBorder,.fpmbg .table4:hover .selectedBorder,.fpmbg .table12:hover .selectedBorder,.fpmbg .table2:hover .selectedBorder   
{
    display: block;
    
}
.fpmbg .table4 .selectedBorder{
    width: 80px;
    height: 80px;
    left: 0px;
}
.bottom0{
    bottom: 0px;
}
.bottom80{
    bottom: 80px;
}
.fpmbg .table4 .reselectBorder{
    width: 80px;
    height: 80px;
    bottom: 0px;
    left: 0px;
}
.fpmbg .table12 .selectedBorder{
    width: 80px;
    height: 80px;

    
    left: 60px;
}
.top0{
    top:0px;
}
.topMinus80{
    top:-80px;
}
.fpmbg .table12 .reselectBorder{
    width: 80px;
    height: 80px;
    top: 0px;
    left: 60px;
}
.fpmbg .table2 .selectedBorder{
    width: 50px;
    height: 50px;
    right: 5px;
}

.top20{
    top: 20px;
}
.topMinus30{
    top: -30px;
}
.fpmbg .table2 .reselectBorder{
    width: 50px;
    height: 50px;
    top: 20px;
    right: 5px;
}
@keyframes circle{
    0%{
        transform:rotate(0);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(135deg);
    }
    100%{
        transform: rotate(350deg);
    }
}
.fpmbg .table4{
    background-image: url(../img/table4.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.fpmbg .reservedTable4{
    background-image: url(../img/table4Reserved.png);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.fpmbg .table4Flex{
    display: flex;
    margin-bottom:15px;
}

.fpmbg .table4Flex .table4Right{
    margin-left: 2vh;
}
.fpmbg .table4Box{
    top: 15%;
    left: 30%;
}
.fpmbg .table12Box{
    
    top: 10%;
    left: 33%;
    transform: rotate(90deg);
}
.fpmbg .table12{
    
    background-image: url(../img/table12.png);
    width: 202px;
    height: 80px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.fpmbg .reservedTable12{
    
    background-image: url(../img/table12Reserved.png);
    width: 202px;
    height: 80px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.fpmbg .table12Left{
    margin-bottom: 5%;
}
.fpmbg .table2Box{
    transform: rotate(90deg);
    top: 40%;
    left: 16%;
}
.fpmbg .table2Flex{
    display: flex;
    margin-bottom: 2px;

}
.fpmbg .table2Left{
    margin-right: 8px;
}
.error{
    box-shadow: 0px 0px 5px red;
}
.fpmbg .table2{
    
    background-image: url(../img/table2.png);
    width: 40px;
   
    height: 90px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.fpmbg .reservedTable2{
    
    background-image: url(../img/table2Reserved.png);
    width: 40px;
   
    height: 90px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
/* popup box style */
.popUpBoxLeft,.popUpBoxRight{
    
position: fixed;
background-color:rgb(255, 255, 255) ;
box-shadow: 0px 0px 20px grey;
width: 35vh;
height: 100%;
z-index: 2;
padding: 10px;

}
fieldset {
    border: 1px solid #000; /* Add a border to the fieldset */
    padding: 10px; /* Add padding inside the fieldset */
    margin: 0; /* Remove any margins */
  }
  
  fieldset legend{
      
      color: #4c4a4a;
      font-size: 13px;
  }
  fieldset p,fieldset span{
    font-size: 15px;
    margin: 0;
    color: #000;
  }
.popUpBoxLeft{
    top: 70px;
    left: 240px;
    animation: left-popUpOpen .6s ease;
}
#popUpBoxRight{
    top: 70px;
    right: 0%;
    
    animation: right-popUpOpen .6s ease;
    /* animation: right-popUpClose .5s ease; */
}
@keyframes right-popUpOpen {
    0%{
        transform: translateX(100%);
      
    }
    100%{
        transform: translateX(50);
        
    }
}
@keyframes left-popUpOpen {
    0%{
        transform: translateX(-100%);
      
    }
    100%{
        transform: translateX(50);
        
    }
}

.close-btn{
    top: 1vh;
    border-radius: 100px;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 12px;
    position: relative;
    font-size: 20px;
    font-weight: bolder;
        
}
.popUpBoxLeft .close-btn{
    left: 86%;
}
.close-btn:hover{
    background-color: white;
    cursor: pointer;
}
/* right popup box style */
.popUpBoxRight .tableInforBox{
    display: flex;
    justify-content: center;
    text-align: center;
}


.popUpBoxLeft .paxBox{
    margin-top: 10px;
    text-align: left;
}
.popUpBoxLeft .paxBox p{
    padding: 0px;
}
.popUpBoxRight .paxBox .title{
    font-size: 13px;
}

.popUpBoxRight .custNameBox, .popUpBoxRight .custContactBox{
    margin-top: 10px;
}
.popUpBoxRight .genderBox input,.popUpBoxRight .custNameBox input, .popUpBoxRight .custContactBox input{
    padding: 5px;
    width: 95%;
    outline: none;
    
}
.popUpBoxRight .remarkBox{
    margin-top: 10px;
    
}
.popUpBoxRight .remarkBox #remark{
    resize: none;
    outline: none;
    padding: 10px;
    width: 100%;
    height: 37px;
    font-weight: bold;
    border-radius: 5px;
}
.popUpBoxLeft .remarkBox #remark::-webkit-scrollbar{
    width: 0px;
}
.popUpBoxRight .bookBtnBox{
    position: fixed;
    bottom: 3%;
    /* width: 18.2%; */
    display: flex;
    justify-content: center;
    
}
.popUpBoxRight .bookBtnBox .reserveBtn:hover{
    background-color: rgb(5, 160, 5);
}
.popUpBoxRight .bookBtnBox .reserveBtn{
    flex-basis: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: green;
    text-decoration: none;
    padding: 10px 10vh;
    float: right;
    text-align: center;
    text-decoration: none;
    color: white;
}
.popUpBoxRight .bookBtnBox .changeBtn:hover{
    background-color: rgb(2, 135, 165);
}
.popUpBoxRight .bookBtnBox .changeBtn{
    flex-basis: 100%;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(0, 157, 192);
    text-decoration: none;
    padding: 10px 8.2vh;
    float: right;
    text-align: center;
    text-decoration: none;
    color: white;
}

/* left pop up style */
.popUpBoxLeft .userInforBox{
    display: flex;
    justify-content: center;
    text-align: center;
}
.popUpBoxLeft .userInforBox .inforBox .fa-user,.popUpBoxRight .tableInforBox .fa-map-marker-alt {
    font-size: 25px;
    color: green;
    border-radius: 100px;
    border:3px green solid;
    padding: 20px 25px;
}
.popUpBoxRight .tableInforBox .tableNum,.popUpBoxLeft .userInforBox .inforBox .name{
    padding-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    margin: 0%;
}
.popUpBoxRight .tableInforBox .tableNum {
    display: flex;
    align-items: center;
    justify-content: center;
}
.popUpBoxRight .tableInforBox .tableNum .fa-trash{
    color: rgb(155, 6, 6);
    margin-left: 10px;
    font-size: 15px;;
    border: rgb(167, 17, 17) solid 2px;
    padding: 6px 8px;
    border-radius: 50px;
}
.popUpBoxRight .tableInforBox .tableNum .fa-trash:hover{
    color: rgb(234, 110, 110);
    border: rgb(234, 110, 110) solid 2px;
}
.popUpBoxRight .tableInforBox .tableNum input{
    margin-left: 2px;
    outline: none;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 5px;
    text-align: center;
    width: 40%;
}
.popUpBoxLeft .numOfReserveSeatBox{ 
    margin-top: 10px;
}
.popUpBoxLeft .numOfReserveSeatBox .title{
    display: flex;
    align-items: center;
}
.popUpBoxLeft .numOfReserveSeatBox .num{
    padding: 5px 10px;
    width: 80%;
    margin-left: 5px;
    outline: 1px grey solid;
    border: none;
    
}
.popUpBoxRight .genderBox{
    margin-top: 10px;
}

.popUpBoxLeft i,.popUpBoxRight i{
    color: #000;
}

.popUpBoxLeft .contactNumbox{
    margin-top: 10px;
}
.popUpBoxLeft .contactNumbox i{
    margin-right: 10px;
}
.popUpBoxLeft .contactNumbox .contact{
    margin: 0%;
}
.popUpBoxLeft .dateTimeBox{
    margin-top: 10px;
    /* display: flex; */
    
}
.popUpBoxLeft .dateTimeBox #date, .popUpBoxLeft .dateTimeBox #time{
    font-weight: bolder;
    outline: none;
    padding: 2px;
}
.popUpBoxLeft .dateTimeBox .timeBox{
    margin-top: 10px;
}
.popUpBoxLeft .dateTimeBox .timeBox .timeSelectBox{
    display: flex;
   justify-items: center;
   align-items: center;
}
.popUpBoxLeft .dateTimeBox .timeBox .timeSelectBox .fa-clock{
    position: relative;
    right: 25px;
    font-size: 15px;
}
.popUpBoxLeft .dateTimeBox .timeBox .sessionTime{
    display: flex;
    font: 20px;
    font-weight: bolder;
}
